{% extends "layout.html" %}
{% block content %}
<h1>About Us</h1>
    <img src="{{ url_for('static', filename='images/Kings.png') }}" alt="About Image" style="width:300px;"><br>
    <p>Welcome to Kings Hospital and Maternity Centre Bradford, West Yorkshire. As your trusted partner in  healthcare, wellbeing  and wellness, we provide you with compassionate and excellent patient centred care. With our state-of-the-art facilities, our excellent medical team provides holistic services aimed at meeting all your healthcare needs.</p>
    <a href="/">Our maternity care services facilitate the welcoming of new beginning with our exceptional maternity services which include prenatal care, labour and delivery services, postnatal support services for mother and child.
Our state-of-the-art facilities, our excellent medical team, family centre care and 24/7 emergency services ensures a memorable and safe journey.
</a>

{% endblock %}